.wrapper{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper .btn {
    background-color: blueviolet;
    border-color: blueviolet;
}

.wrapper .btn:hover {
    background-color: rgb(102, 32, 168);
    border-color: rgb(102, 32, 168);
}

.wrapper .btn:disabled {
    background-color: rgb(156, 98, 209);
    border-color: rgb(156, 98, 209);
}

.tempo-input {
    background-color: blueviolet;
    width: 6%;
    height: 50px;
    margin: 10px;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    color: white
}

.tempo-input::after{
    content: "";
    position: relative;
    border-top: 15px solid blueviolet;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    margin: auto;
    bottom: -7px;
}

.header {
    min-height: 30vh
}


.slider{
    margin: 40px;
    width: 500px;
  
}

.slider .thumb {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    top: -12px;
    border: 3px solid blueviolet;
}

.track{
    height: 5px;
    background: blueviolet;
}

.track.track-0{
    background: rgb(192, 192, 192);
}

.track.track-2{
    background: rgb(192, 192, 192);
}

.playlist-display{
    margin: 30px;
    min-height: 50vh;
}