.wrapper{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper .btn {
    background-color: blueviolet;
    border-color: blueviolet;
    margin: 30px
}

.wrapper .btn:hover {
    background-color: rgb(102, 32, 168);
    border-color: rgb(102, 32, 168);
}

.wrapper .btn:disabled {
    background-color: rgb(156, 98, 209);
    border-color: rgb(156, 98, 209);
}

.tempo-input {
    background-color: blueviolet;
    width: 80px;
    height: 50px;
    margin: 5px;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    color: white
}

.tempo-input::after{
    content: "";
    position: relative;
    border-top: 15px solid blueviolet;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    margin: auto;
    bottom: -7px;
}

.header {
    min-height: 30vh
}


.slider{
    margin: 30px;
    width: 500px;
  
}

.slider .thumb {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    top: -12px;
    border: 3px solid blueviolet;
}

.track{
    height: 5px;
    background: rgb(184, 184, 184);
}


.playlist-display-area{
    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist-display-area .btn {
    background-color: blueviolet;
    border-color: rgb(255, 255, 255);
    margin: 2 px
}

.playlist-display-area .btn:hover {
    background-color: rgb(102, 32, 168);
    border-color: rgb(102, 32, 168);
    align-items: center;
    justify-content: center;
}

.energy-buttons .btn{
    color: blueviolet;
    background-color: rgb(255, 255, 255);
    border-color: blueviolet;
    border-radius: 20px;
    border-width: 2px;

}


.wrapper .energy-buttons .active {
    background-color: blueviolet;
    border-color: blueviolet;
}